[Unit]
Description=Lighthouse Eth2 Client Beacon Node
Wants=network-online.target
After=network-online.target
[Service]
User=lighthouse
Group=lighthouse
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse bn --network mainnet --datadir /var/lib/lighthouse --staking --checkpoint-sync-url "http://75.119.129.107:5052" \
  --eth1-endpoints http://127.0.0.1:8545,\
  #contabo-eth0 \
  http://185.237.253.135:8545

[Install]
WantedBy=multi-user.target
