[Unit]
Description=Ethereum Beacon Chain
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=prysm
ExecStart=/usr/bin/prysm/prysm.sh beacon-chain --config-file /var/lib/prysm/prysm-bn.yaml

[Install]
WantedBy=multi-user.target
