[Unit]
Description=Validator
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prysm
Group=prysm
Restart=always
RestartSec=5
ExecStart=/usr/bin/prysm.sh validator --config-file /var/lib/prysm/prysm-v.yaml

[Install]
WantedBy=multi-user.target
